<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login">
        <div class="imgDiv">
            <img class="imgAv" src="https://avatars.dicebear.com/api/open-peeps/8897.svg?scale=69&flip=1&rotate=242&translateX=-10&translateY=22">
            <div class="hide">Hey, I am waiting for your message!</div>
        </div>
        <a href="/">
            <div class="imgBack">
                <img class="imgAvBack" src="https://avatars.dicebear.com/api/gridy/9.svg">
                <div class="backHide">Click to go Back</div>
            </div>
        </a>
           
        <h1 class="pageName">Login</h1>

        <form id="login">
            <div class="input">
                <input class="email "type="text" placeholder="Email" required>
                <input class="password" type="password" placeholder="Password" autocomplete="off" required>
                <button class="loginButton" type="submit">Login</button>
            </div>
        </form>

    </div>
    <script src="/js/login.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>