<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
    <div class="divReg">

        <div class="imgDivLeft">
            <img class="imgAvLeft" src="https://avatars.dicebear.com/api/open-peeps/kwdfv3454.svg?scale=76&rotate=57&translateX=4&translateY=-31">
            <div class="hideLeft">My Darling, I am coming!</div>
        </div>

        <div class="littleWindow">
            <h1 class="">Registration</h1>

            <form id="regist">
                <div class="registration">
                    <input class="firstName" type="text" placeholder="First name" required name="firstName">
                    <input class="lastName" type="text" placeholder="Last name" required name="lastName">
                    <input class="email "type="text" placeholder="Email" required name="email">
                    <input class="password" type="password" placeholder="Password" required name="password" autocomplete="off">
                    <button class="registerButton" type="submit">Register</button>
                </div>
            </form>

            <a href="/">
                <div class="imgBack">
                    <img class="imgAvBack" src="https://avatars.dicebear.com/api/gridy/9.svg">
                    <div class="backHide">Click to go Back</div>
                </div>
            </a>
        </div>

        <div class="imgDivRight">
            <img class="imgAvRight" src="https://avatars.dicebear.com/api/open-peeps/j7k.svg?scale=78&flip=1&rotate=360&translateX=-1&translateY=-12">
            <div class="hideRight">I alredy sent you a message!</div>
        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/registration.js"></script>
</html>
  
  
  
    