<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Funny Messenger</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    
    <div class="imgDiv">
        <img src="https://avatars.dicebear.com/api/open-peeps/gjmbft.svg?scale=75&rotate=52&translateX=-12&translateY=-23">
    </div>
    <div class="hide">Tea, coffee, let's dance?</div>
    <div>
        <div>
            <h1 class="welcome">Welcome to Funny Messenger!</h1>
        </div>

        <div class="logReg">
            <div class="google">
                <a href="/auth/google" class="btn">
                    <i class="fab fa-google left"></i> Log In With Google
                </a>
            </div>
            <div>
                <button class="log" id="login" type="submit"><a href="/login">Login</a></button>
            </div>
            <div>
                <button class="reg" type="submit"><a href="/registration">Registration</a></button>
            </div>
       </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>


