* {
  margin: 0;
}
.welcome {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  font-family: "Gill Sans";
  color: #502064;
  /* text-shadow: 3px 3px rgba(0, 0, 0, 0.3); */
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.google {
  display: grid;
  place-items: center;
  height: 100px;
  width: 200px;
  border: 1px solid #ffbd35;
  background-color: #3fa796;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 15pt;
  font-family: "Gill Sans";
  text-align: center;
}
.log {
  display: grid;
  place-items: center;
  height: 100px;
  width: 200px;
  border: 1px solid #ffbd35;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 15pt;
  font-family: "Gill Sans";
}
.reg {
  display: grid;
  place-items: center;
  height: 100px;
  width: 200px;
  border: 1px solid #3fa796;
  background-color: #ffbd35;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 15pt;
  font-family: "Gill Sans";
}
/* .logReg {
  display: grid;
  justify-content: space-evenly;
} */
.google:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: #8267be;
}
.log:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: #8267be;
}
.reg:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: #8267be;
}
.link:hover {
  color: white;
}

a:link {
  color: #502064;
}
a:visited {
  color: #502064;
}
a:hover {
  color: #502064;
}
a:active {
  color: #502064;
}

.imgDiv {
  margin: 0pt;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.imgDiv:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.hide {
  display: none;
  margin-left: 100px;
  margin-top: 20px;
  height: 30px;
  width: 250px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.imgDiv:hover + .hide {
  display: block;
  color: #502064;
  font-size: 20pt;
  font-family: "Gill Sans";
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
